nav{
    display: flex;
    margin-top: 100px;
}
.c{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
}
.d{
    padding: 5px 20px;
    margin:5px 20px 5px 20px;
    margin-left: 15px;
    background-color: rgb(226, 226, 252);
    color: rgb(4, 4, 58);
    border: 1px solid rgb(226, 226, 252);
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgb(226, 226, 252);
    justify-content: center;
    text-align: center;
}
form{
    display: flex;
    justify-content: center;
}

input{
    padding: 10px 20px;
    margin: 0px 15px 0px 15px;
    width: 150px;
    justify-content: center;
    border: 1px solid rgba(22, 22, 129, 0.87) ;
    color: white;
    background-color: rgba(22, 22, 129, 0.87);
    box-shadow: 1px 1px 4px rgb(137, 137, 224);
    border-radius: 4px;
    

}
input:hover{
    cursor: pointer;
    background-color:rgb(87, 209, 87);
    border: 1px solid rgb(87, 209, 87);
    transform: translateY(-5px);
    transition: 0.5s;
    
    
    color: white;
    
}

span{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(22, 22, 129, 0.87);
    justify-content: center;
}
main{
    display: flex;
    border: 1px solid white;
    box-shadow: 2px 0px 2px grey;
    padding: 0px 10px 0px 10px;
    margin: -10px -10px 0px -10px;
    
}
.pic{
    width:600px; 
    height:400px;
}
.logo{
    height:35px; width:200px;
    margin:10px 0px 0px 100px;
}
.a{
    display: flex;
    margin-left: 400px;
    list-style-type: none;
}
.b{
    justify-content: end;
    padding: 4px 10px 4px 10px;
    color:rgba(22, 22, 129, 0.87) ;
    font-size: 15px;
    font-weight:800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width:500px) {
    main{
        flex-direction: column;

    }
    nav{
        flex-direction: column;
    }
    .a{
        flex-direction: column;
        padding: 2px 5px;
        margin: 0px;
    }
    .b{
        flex-direction: column;
        padding: 5px 20px;
        
    }
    .c{
        flex-direction: column;
    }
    .logo{
        margin:10px;
    }
    .pic{
        height:300px;
        width:300px;
        margin: auto;

    }
}
@media (min-width:500px) and (max-width:768px){
    main{
        flex-direction: column;

    }
    nav{
        flex-direction: column;
    }
    .a{
        flex-direction: row;
        padding: 2px 1px;
        margin: 0px;
    }
    .b{
        flex-direction: column;
        padding: 5px 20px;
    }
    .c{
        flex-direction:row;
    }
    .logo{
        margin:20px
        
    }
    .pic{
        height:400px;
        width:400px;
        margin: auto;

    }
}