nav{
    background-color: black;
    height: 100px;
}
    
ul{
    display: flex;
    
}
li
{    color: white;
    padding: 10px 20px;
    margin: auto;
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    background-color:orange;
    padding:inherit;

}