body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.301),rgba(241, 71, 71, 0.295)), url(wed\ hand.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}
div{
    background-color:rgba(255, 255, 255, 0);
    width:40%;
    height:500px;
    border-radius: 5px;
    margin-top: 100px;
    
}
a{
    text-decoration: none;
    color: white;

}
span{
    color:white;
    font-weight: 700;
    text-transform:capitalize;
    text-decoration:dotted
}
.a{
    padding: 10px 20px 10px 20px;
    margin: 10px 0px 10px 0px;
    border: none;
    border-radius: 35px;
}
.b{
    padding: 20px 40px 20px 40px;
    margin: 20px 0px 20px 0px;
    border: none;
    border-radius: 10px;
    font-size: large;
}
.b:hover{
    margin: 19px;
    border: 1px solid yellow;
    box-shadow: 2px 2px 5px yellow;
}
nav{
    display:flex;
    margin-left: 30px;
}
.i1{
    height: 80px;
    width: 100px;
}
h2{
    color: white;

}