<style>
div{
    color:brown;
    text-align:center;
    font-family:'Lucida Sans';
    background-color:aqua;
    font-size:50px;
}
pre{
    color:red;
    font-family:'Times New Roman';
}